<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<title>Index</title>
<script src="https://kit.fontawesome.com/20556dcc55.js" crossorigin="anonymous"></script>
</head>
<body>


<div class="wraper" id="leftWrapper">
<div class="link"><a href="/mtRoomList"  title='회의실' class="resLink">
	<div class="menuFlex">
		<i class="fa-sharp fa-solid fa-door-closed"></i><h1 class="resMente">회의실 관리</h1>
	</div>
</a>
</div>
</div>
<div class="wraper">
<div class="link"><a href="/mtResList"  title='예약관리' class="resLink">
	<div class="menuFlex">
		<i class="fa-solid fa-gear"></i><h1 class="resMente">회의실 예약관리</h1>
	</div>
	</a>
</div>
</div>


</body>
</html>
